* {
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
}

.box {
	border: 1px solid black;
}
.top {
	background: url("https://pbs.twimg.com/media/CmR-0oTWIAAzRAq.jpg:large");
	background-repeat: no-repeat;
	background-size: cover;
	height: 740px;
}
.top.scroll {
	background-color:black;
}
.bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 740px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}
.logo {
	background: url("http://vestscholars.org/sites/gci.pratt.duke.edu/files/Pratt-Logo-RGB-Vertical-Blue.png");
	background-repeat: no-repeat;
	background-size: 50%;
	height: 180px;
	max-width: 400px;
	margin: 40px;
}
.list ul li {
	font: 30px "Lato",Helvetica,sans-serif;
	line-height: 1.5;
	color:white;
	width: 33%;
	float: left;
	text-shadow: 0 1px 1px #777;
}
.list {
	margin-top: 16px;
	height: 80px;
	padding: 20px;
}
.btn {
	background-color: transparent;
	border:2px solid white;
	color:white;
	margin: 30px 15px;
	padding: 15px 15px;
	font: 15px "Lato",Helvetica,sans-serif;
	text-transform: uppercase;
}
.btn:hover {
	box-shadow: 0px 2px 6px white;
	transform:translate(0,-2px);
}
.nav-link {
	color: white;
}
.nav-link:hover {
	text-decoration: none;
	color:white;
}
.dropdown {
	color:white;
	margin-top:40px;
	font-size:30px;
	display: none;
}
.line1, .line2, .line3{
	color:white;
	font-family:"Lato",Helvetica,sans-serif;
}
.line1 {
	margin-top: 50px;
	font-size:60px;
}
.line2 {
	margin-top: 60px;
}
.line2, .line3 {
	font-size:40px;
}
.intro {
	height:1000px;
	background-color: #f3f6f8;
}
.intro p {
	font:18px "Lato",Helvetica,sans-serif;
	width: 300px;
	margin: 30px auto;
	text-align: center;
}
.intro h2 {
	text-align: center;
}
.intro-col {
	padding: 50px 0;
	margin-top: 80px;
}
.pic1 img {
	width:180px;
	height:180px;
	border-radius: 100%;
}
.social {
	margin-top: 50px;
}
.social-pic:hover {
	transform:translate(0,-2px);
}
.social-pic {
	max-height: 100px;
	max-width: 100px;
}
.social-pic img {
	width: 50%;
	height: 50%;
	border-radius: 15%;
}
.gallery {
	height: 900px;
}
.gallery-title {
	font-size:30px;
	font-family: arial,sans-serif;
}
.pic2 img {
	width: 200px;
	height: 200px;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	margin:15px 0;
}
.pic2 img:hover {
	-webkit-filter:grayscale(0);
	filter: grayscale(0);
}
@media (max-width: 1300px) {
	.btn {
		display: none;
	}
	.dropdown {
		float:right;
		margin-right: 40px;
		display: block;
	}
	.logo {
		display: none;
	}
}
@media (max-width: 900px) {
	.line1 {
		font-size:40px;
	}
	.line2,.line3 {
		font-size:20px;
	}
}

@media (max-width: 450px) {
	.intro {
		height: 2800px;
	}
	.intro p {
		margin-top: 0;
		margin-left: 20px;
	}
}