* {
	box-sizing: border-box;
	text-align: center;
}

.box {
	border: 1px solid black;
}
.top {
	background: url("https://photos-2.dropbox.com/t/2/AACEoL6iMF6gM6FHeqk_eEuDsuzs-xG3I4qV-GOpPK486Q/12/189065206/jpeg/256x256/1/_/1/2/2016-03-26%2003.43.45.jpg/EJf6q48BGKJCIAIoAg/DFVDQuRcRE_MEuUSI77cEk7f5LtVdXxopjTKELA8ngs?size_mode=3&size=2048x1536");
	background-repeat: no-repeat;
	background-size: cover;
	height: 740px;
}
.bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 740px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}
.logo {
	background: url("http://vestscholars.org/sites/gci.pratt.duke.edu/files/Pratt-Logo-RGB-Vertical-Blue.png");
	background-repeat: no-repeat;
	background-size: 50%;
	height: 180px;
	margin: 40px;
}
.list ul li {
	font: 30px "Lato",Helvetica,sans-serif;
	line-height: 1.5;
	color:white;
	width: 33%;
	float: left;
	text-shadow: 0 1px 1px #777;
}
.list {
	margin-top: 16px;
	height: 80px;
	padding: 20px;
}
.btn {
	background-color: transparent;
	border:2px solid white;
	color:white;
	margin: 30px 15px;
	padding: 16px 20px;
	line-height: 1.5;
	font: 15px "Lato",Helvetica,sans-serif;
	text-transform: uppercase;
}
.dropdown {
	color:white;
	margin-top:40px;
	font-size:30px;

}
.line1, .line2, .line3{
	color:white;
	font-family:"Lato",Helvetica,sans-serif;
}
.line1 {
	margin-top: 50px;
	font-size:60px;
}
.line2 {
	margin-top: 60px;
}
.line2, .line3 {
	font-size:40px;
}
.intro {
	height:1000px;
	background-color: #f3f6f8;
}
.passionate {
	font:50px "Lato",Helvetica,sans-serif;
}
.intro p {
	font:18px "Lato",Helvetica,sans-serif;
	height: 300px;
	width: 350px;
	margin-top: 30px;
	text-align: left;
}
.intro-left, .intro-right {
	padding: 50px 50px 80px 50px;
}
.pic1 img {
	width:180px;
	height:180px;
	border-radius: 100%;
}
.intro-left, .intro-right {
	margin-top: 80px;
}
.social {
	margin-top: 50px;
}
.social-pic {
	max-height: 100px;
	max-width: 100px;
}
.social-pic img {
	width: 50%;
	height: 50%;
	border-radius: 15%;
}
.gallery {
	height: 900px;
	border: 1px solid black;
}
.gallery-title {
	margin: 40px 0 50px 0;
	font-size:30px;
	font-family: arial,sans-serif;
}
.pic2 img {
	width: 200px;
	height: 200px;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	margin:10px 0;
}
.pic2 img:hover {
	-webkit-filter:grayscale(0);
	filter: grayscale(0);
}